@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.page {
    background-color: #F2F2F2;
    font-family: "PT Sans";
} 
  
html {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;

    min-height: 100%;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #333333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: "PT Sans", sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.page-header {
    height: 65px;
}

.main-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navigation {
    display: grid;
    grid-template-columns: 139px auto 264px;
    width: 1060px;
    height: 65px;
    margin: 0 auto;
}

.navigation-logo {
    z-index: 1;
}

.navigation-list {
    margin-left: 30px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0;
}

.navigation-link {
    margin: 0 17px;

    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active {
    color: #756257;
}


.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.user-navigation-item:not(:last-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
}

.user-navigation-link {
    position: relative;
    display: block;
    width: 40px;
}

.navigation-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #000;
}

.navigation-icon:hover {
    fill: #756257;
}



.user-navigation .button {
    color: #fff;
    background-color: #756257; 
    font-family: "PT Sans";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    padding: 9px 34px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
}

.user-navigation .button:hover {
    background-color: #615048;
}

.user-navigation .button:focus {
    background-color: #615048;
    border: 3px solid #83B3D3;
    border-radius: 4px;    
}

/* i n d e x */
.section-title {
    color: #000;
    font-family: "PT Sans";
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    margin: 63px auto 31px auto;
    width: 720px;
}
.section-text {
    color: #333333;
    font-family: "PT Sans";
    font-size: 22px;
    line-height: 36px;

    margin: 0 auto 80px auto;
    width: 720px;
}

/*сетка*/
.advantages-list {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
}

.advantages-img {
    grid-column: span 2;
}

.advantages-item-large {
    grid-column: span 3;    
}

.advantages-list-inner {
    display: grid;
    grid-template-columns: repeat(3, 400px);
}

.advantages-item {
    min-height: 384px;
    padding-left: 75px;
    padding-right: 75px;

    text-align: center;    
}

.advantages-item {
    background-color: #F0F6FA;
}

.advantages-item:nth-child(7) {
    background-color: #E6F0F6;
}

.advantages-list-inner .advantages-item:nth-child(2) {
    background-color: #FFF;
}

.advantages-list-inner .advantages-item:first-child {
    background: #F0F6FA url("../images/icons/house.svg") no-repeat 50% 89px;
}

.advantages-list-inner .advantages-item:nth-child(2) {
    background-color: #fff;
    background-image: url("../images/icons/food.svg");
    background-repeat: no-repeat;
    background-position:  50% 89px;
}

.advantages-list-inner .advantages-item:nth-child(3) {
    background-color: #F0F6FA;
    background-image: url("../images/icons/present.svg");
    background-repeat: no-repeat;
    background-position:  50% 89px;
}


.advantages-item-blue {
    background-color: #83B3D3;
    color: #fff;
}

.advantages-title {
    color: #000;
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 97px;
    margin-bottom: 30px;
}

.advantages-number {
    margin: 30px 0;
}

.advantages-title-inner {
    margin-top: 184px;
    margin-bottom: 20px;
}

.advantages-text {
    color: #333333;
    font-family: "PT Sans";
    font-size: 18px;
    line-height: 21px;
}

.advantages-item-blue > * {
    color: #fff;
}





/* c a t a l o g*/

 h1 {
    margin: 0;
    padding: 0;
 }

.inner-header-title {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 68px;

    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}

.breadcrumbs {
    margin-bottom: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.breadcrumbs-item {
    display: flex;
    align-items: center;
}

.breadcrumbs-item:not(:last-child)::after {
    background: url("../images/icons/next.svg") center no-repeat;
    opacity: 0.3;

    position: relative;
    width: 6px;
    height: 8px;
    content: "";
    margin: auto 11px;
}




/* Ф И Л Ь Т Р Ы */

.catalog-content {
    padding: 0 72px;
}

.catalog-filter-group {
    border: none;
}

.filter {
    padding: 35px 72px 80px 72px;  
    
    color: #fff;
    background-color: #83B3D3;
    background: url("../images/background/filter.jpg");
    background-size: cover;  
}

.catalog-filter {
    display: flex;
    flex-direction: row;

    color: #fff;
    font-family: "PT Sans";
    font-size: 18px;
}

.control-label {
    font-size: 18px;
}

.catalog-filter-infrastructure {
    margin: 0;
    margin-right: 67px;
    border: none;
    padding: 0;
}

.catalog-filter-housing {
    margin: 0;
    margin-right: 167px;

    border: none;
    padding: 0;
}

.catalog-filter-price {
    margin: 0;
    margin-right: 81px;
    border: none;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.catalog-filter-title {
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 30px;
}

.filter-buttons {
    width: 160px;
    margin-left: auto;
    padding: 0;
}

.filter-button-submit {
    width: 160px;
    height: 48px;
    margin-top: 60px;

    background-color: #83B3D3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-button-reset {
    color: #fff;
    font-family: "PT Sans";
    font-size: 18px;

    width: 160px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
}

.catalog-sort {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 53px;
}


.catalog-title {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.select {
    position: absolute;
    top: 0;
    left: 500px;
    box-sizing: border-box;
    width: 287px;
    height: 48px;
    padding-top: 12px;

    border: 2px solid #e6e6e6;
    border-radius: 4px;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 13px;
}


.catalog-filter-input {
    color: rgba(128, 128, 128, 0.3);
    font-size: 18px;
    background: transparent;
}


.view {
    display: flex;    
}
.view-item {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    cursor: pointer;

    border: 2px solid #e6e6e6;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.view-item-active {
    border-color: #000;
}

.view-item:last-child {
    margin-right: 0;
}


/* С П И С О К  Г О С Т И Н И Ц */

.product-list {
    margin: 0;
    margin-bottom: 34px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 10px 18px;
}

.product-item {
    padding: 20px;
    display: grid;
    grid-template-columns: 133px 141px;
    justify-content: space-between;
    gap: 16px;
}

.product-card-link {
    grid-column: span 2;
}

.product-card-title {
    margin: 0;
    margin-top: 16px;
    color: #000;
    font-size: 24px;
}

.product-card-type {
    width: 133px;
    margin: 0;
}

.product-card-price {
    margin-left: auto;
    width: 133px;
    margin: 0;
}

.product-card-button {
    box-sizing: border-box;
    width: 100%;
    height: 37px;
    border-radius: 4px;
    padding: 9px 0;

    background-color: #756257;
    color: #fff;

    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.favorites-button {
    width: 100%;
    height: 37px;
    border: none;
    border-radius: 4px;
    margin: 0;

    background-color: #83B3D3;
    color: #fff;

    font-family: "PT Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.favorites-selected {
    background-color: #7DB54F;
}

.rating-value {
    background-color: #f2f2f2;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;

    box-sizing: border-box;
    width: 160px;
    padding-top: 8px;
    padding-bottom: 9px;
    border-radius: 4px;
    margin: 0;
    justify-self: end;
}

.rating-stars-1 {
    display: block;
    width: 23px;
    height: 17px;
    margin: 0;
    align-self: center;

    background: url("../images/icons/star.svg") repeat-x;
    background-size: 23px 17px;
}

.rating-stars-2 {
    display: block;
    width: 46px;
    height: 17px;
    margin: 0;
    align-self: center;

    background: url("../images/icons/star.svg") repeat-x;
    background-size: 23px 17px;
}

.rating-stars-3 {
    display: block;
    width: 69px;
    height: 17px;
    margin: 0;
    align-self: center;

    background: url("../images/icons/star.svg") repeat-x;
    background-size: 23px 17px;
}

.rating-stars-4 {
    display: block;
    width: 92px;
    height: 17px;
    margin: 0;
    align-self: center;

    background: url("../images/icons/star.svg") repeat-x;
    background-size: 23px 17px;
}

.pagination-button {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.show-more-button {
    display: block;
    margin: 30px auto;
    width: 620px;
    height: 60px;

    border: none;
    border-radius: 4px;
    background-color: #83B3D3;
    color: #fff;

    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.pagination-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 73px;

    width: 1056px;
}

.pagination-list {
    display: flex;
}

.pagination-item {
    margin-right: 8px;
    color: #fff;
    background-color: #83B3D3;
    text-align: center;
    border-radius: 4px;

    font-size: 20;
    font-weight: 700;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item-current {
    color: #000;
    background-color: #f2f2f2;
}

.pagination-item-current a {
    color: #000;
    background-color: #f2f2f2;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 55px;
    height: 55px;
}

.pagination-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 386px;
}

.pagination-select-text {
    color: #333333;
    background-color: #fff;

    font-family: "PT Sans";
    font-size: 18px;
}
.select-number option {
    margin-left: 17px;
}
.select-number {
    display: block;
    box-sizing: border-box;
    width: 160px;
    height: 48px;
    padding: 0;

    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
}






.main-inner .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 140px;
}

.newsletter-title {
    font-family: "PT Sans";
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    
    margin: 0;
    margin-bottom: 46px;
}

.newsletter p {
    font-family: "PT Sans";
    font-size: 22px;
    line-height: 26px;
    color: #333333;

    margin-top: 0;
    margin-bottom: 46px;
}

.newsletter-field {
padding: 0 20px;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #333333;

}

.newsletter-button {
    color: #fff;
    font-family: "PT Sans";
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
}




/*Заголовки*/
.page-header {
    background: #fff;
}



.breadcrumbs-link {
    color: #fff;
    font-size: 16px;
}



.hotel-search {
    text-align: center;
    padding: 91px 240px;
}
.hotel-search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 29px;
}
.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 56px;
}

.hotel-search-button {
    width: 575px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;

    border: none;
    border-radius: 10px;
    background-color: #756257;
    color: #fff;
}

.newsletter {
    text-align: center;
}

.main-index .newsletter {
    color: #fff;
    background-color: #83B3D3;
    background: url("../images/background/subscribe.jpg");
    background-size: cover;
    padding: 94px 200px;
}

.main-index .newsletter-title {
    font-family: "PT Sans";
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    margin: 0;
    margin-bottom: 29px;
}

.main-index .newsletter p {
    font-family: "PT Sans";
    font-size: 22px;
    line-height: 26px;
    color: #fff;    

    margin-bottom: 46px;
}

.newsletter-form {
    margin: 0 auto;
    display: flex;
}

.newsletter-field {
    box-sizing: border-box;
    width: 600px;
    height: 60px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px 0 0 10px;
    margin: 0;
}

.newsletter-button {
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    background-color: #83B3D3;
    border: none;
    border-radius: 0 10px 10px 0;
    margin: 0;
}










/*FOOTER*/

.page-footer-container {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px; 
}

.footer-social-list {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
width: 107px;
}

.footer-phone {
    color: #000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;

    height: 40px;
    padding:  15px;
    margin: 0 auto;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
