@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

.page {
    background-color: #F2F2F2;
 } 
  
html {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;

    min-height: 100%;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #fff;
    color: #333333;
  }

a {
    text-decoration: none;
}
h1 {
    font-size: 60px;
    line-height: normal;
    font-weight: bold;
}
h2, .advantages .section-title {
    color: #000;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
h3, h4 {
    color: #000;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation {
    display: grid;
    grid-template-columns: 139px auto auto;
    width: 1060px;
    margin: 0 auto;
}
.navigation-logo {
    height: 70px;
    width: 139px;
}

.navigation-list {
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.navigation-link {
    padding: 0 17px;
}

.user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.search {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 22, 243);
}
.navigation-favorites {
    width: 40px;
    margin-right: 20px;
    background-color: rgb(65, 2, 124);
}
.user-navigation .button {
    color: #fff;
    background-color: #756257;   
    text-align: center;
    text-transform: uppercase;
    height: 38px;
    width: 160px;
    border-radius: 4px;
}



/* i n d e x */
.section-title {
    margin: 63px auto 31px auto;
    width: 720px;
}
.section-text {
    margin: 0 auto 80px auto;
    width: 720px;
}

/*сетка*/
ol {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(4, 384px);
}

ol > .advantages-item:first-child {
    grid-column: span 3;
    grid-row: span 2;

    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(2, 384px);
    width: 1200;
}
.advantages-img {
    display: block;
    grid-column: span 2;
}

.advantages-list-inner {
    display: grid;
    grid-template-columns: repeat(3, 400px);
}


ol > .advantages-item:nth-child(2) {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 400px);
}

.advantages-item-large {
     color: #fff;
     background-color: #83B3D3; 
 }

.advantages-title {
    width: 250px;
    margin: 98px auto 0 auto;
}
.advantages-item-large .advantages-title {
    color: #fff;
}

.advantages-text {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

ul.advantages-list .advantages-title {
    margin-top: 184px;
   }






/* c a t a l o g*/
.main-inner h1 {
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    margin-top: 5px;
    margin-bottom: 45px;
    display: flex;
}

.breadcrumbs-item {
    margin-right: 11px;
}

.catalog{
    padding: 0 72px;
}
.filter {
    padding: 35px 72px 80px 72px;    
}
.catalog-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.catalog-filter-group {
    width: 200px;
    margin-right: 17px;
}
.catalog-filter-price {
    width: 287px;
    margin-left: 95px;
}
.filter-buttons {
    width: 160px;
    margin-left: 64px; 
}
.catalog-sort {
    display: flex;
    justify-content: space-between;
    margin: 44px 0 53px 0;
}
.view {
    display: flex;    
}
.view-item {
    width: 48px;
    height: 48px;
    margin-right: 8px;
    background-color: aquamarine;
}
.view-item:last-child {
    margin-right: 0;
}

.product-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 10px 18px;
}
.product-item {
    padding: 20px;
    display: grid;
    grid-template-columns: 140px 160px;
}
.product-card-link {
    grid-column: span 2;
}
.product-item p {
    grid-column: span 2;
}
.product-card-button {
    width: 133px;
    padding-top: 9px;
    padding-bottom: 10px; 

    text-align: center;
    color: #FFF;  
    background-color: #756257;
    border-radius: 4px;
    font-size: 16px; 
    text-transform: uppercase;
    font-weight: 700;
}
.favorites-button {
    width: 141px;
    padding-top: 9px;
    padding-bottom: 10px; 

    text-align: center;
    color: #FFF;  
    background-color: #83B3D3;
    border: none;
    border-radius: 4px;
    font-size: 16px; 
    text-transform: uppercase;
    font-weight: 700;
}

.show-more-button {
    display: block;
    margin: 30px auto;
    width: 620px;
    height: 60px;
}

.pagination-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.pagination-list {
    display: flex;
}


.pagination-item {
    margin-right: 8px;
    color: #fff;
    background-color: #83B3D3;
    text-align: center
}
.pagination-item:last-child {
    margin-right: 0;
}
.pagination-item-current {
    color: #000;
    background-color: #f2f2f2;
}
.pagination-item-current a {
    color: #000;
    background-color: #f2f2f2;
}
.pagination-link {
    display: block;
    width: 55px;
    height: 55px;
}

.newsletter {
    text-align: center;
}


/*кнопки*/

.user-navigation .button {
    background-color: #756257;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
}


.favorites-button {
    font-size: 16px; 
    padding-top: 9px;
    padding-bottom: 10px;
}

.catalog-filter-input {
    color: rgba(128, 128, 128, 0.3);
    font-size: 18px;
    background: transparent;
}
.filter-button-reset {
    background: transparent;
}
.rating-value {
    background-color: #f2f2f2;
    font-size: 16px;
    text-transform: uppercase;
}
.main-index .newsletter h2 {
    color: #fff;
}

/*Заголовки*/
.page-header {
    background: #fff;
}
.navigation-link {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    text-decoration: none;
}

.breadcrumbs-link {
    color: #fff;
    font-size: 16px;
}
.product-card-title {
    line-height: normal;
    text-transform: none;
    text-align: left;
}

/*ADVANTAGES*/
.advantages {
    text-align: center;
  }

.advantages-text {
    font-size: 18px;
    line-height: 21px;
}
.advantages-item:nth-child(2n+1) {
    background-color: rgba(131, 179, 211, 0.12);
}
ol > li.advantages-item:nth-child(1) {
    background-color: #fff;
}
ol > li.advantages-item:nth-child(4) {
    background-color: rgba(131, 179, 211, 0.2);
}
.hotel-search {
    text-align: center;
    padding: 91px 240px;
}
.hotel-search-title {
    margin-top: 0;
    margin-bottom: 29px;
}
.hotel-search-text {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 56px;
}
.hotel-search-button {
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    background-color: #756257;

    border-radius: 10px;
    border: none;

    width: 575px;
    height: 60px;
    margin-bottom: 2px;
}



.newsletter {
    padding: 94px 200px;
}

.newsletter-title {
    margin: 0;
    margin-bottom: 29px;
}

.newsletter-text {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 46px;   
}

.newsletter-form {
    margin: 0 auto;
    display: flex;
}
.newsletter-field {
    height: 60px;
    width: 600px;
    margin: 0;
    padding: 0 19px 0 22px;    
    border: none;
    border-radius:  10px 0 0 10px;
    background-color: #f2f2f2;
}
.newsletter-button {
    color: #fff;
    background-color: #83B3D3;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;

    height: 60px;
    width: 200px;    
    border: none;
    border-radius: 0 10px 10px 0;
    margin: 0;
    padding: 0;
}
.newsletter-inner {
    padding: 73px 128px 140px 128px;
    text-align: center;
}
.newsletter-inner .newsletter-title {
    color: #000;
    background-color: #fff;
    margin: 0;
    margin-bottom: 46px;
}
.main-index .newsletter {
    color: #fff;
    background-color: #83B3D3;
    background: url("../images/background/subscribe.jpg");
    background-size: cover;
}


/*CATALOG*/

.filter {
    color: #fff;
    background-color: #83B3D3;
    background: url("../images/background/filter.jpg");
    background-size: cover;
}
.product-card-title {
    line-height: normal;
    text-transform: none;
    text-align: left;
}
.product-card-link p {
    font-size: 18px;
    line-height: normal;
}
.catalog-title {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.catalog-filter-title {
    font-size: 20px;
    font-weight: bold;
}
.control-label {
    font-size: 18px;
}


/*FOOTER*/
.page-footer-container {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px; 
}
.footer-social-list {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
width: 107px;
}
.footer-social-item {
    background-color: gray;
    width: 20px;
    height: 18px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.footer-phone {
    color: #000;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;

    flex-basis: 720px;
    margin: 0 auto;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  img {
    object-fit: cover;
  }